
<table dir="rtl">
    <thead>
      <tr>
        <th>שם מוצר</th>
        <th>תיאור</th>
        <th>מחיר</th>
        <th>יחידות</th>
        <th>תמונה</th>
        <th>גיל</th>
        <th>פופולרי</th>
        <th>הנחה</th>
        <th>תאריך</th>
      </tr>
    </thead>
    <tbody  data-test-id="searched-customers">
      <tr class="slide-up-fade-in">
        <td>{{ producta.name }}</td>
        <td>{{ producta.description }}</td>
        <td>{{ producta.price }}</td>
        <td>{{ producta.units }}</td>
        <img src="{{ producta.pic }}" />
        <td>{{ producta.age }}</td>
        <td>{{ producta.populare }}</td>
        <td>{{ producta.salary }}</td>
        <td>{{ producta.date }}</td>
        <td> <input type="button" (click)="addToshopping()" value="הוסף לסל"/></td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/viewproducts" [queryParams]=" { category: 'all' }"  class="tablinks" id="b">חזרה לצפייה במוצרים</a>
