
<table dir="rtl">
    <thead>
      <tr>
        <th>שם מוצר</th>
        <th>תיאור</th>
        <th>מחיר</th>
        <th>יחידות</th>
        <th>תמונה</th>
        <th>גיל</th>
        <th>פופולרי</th>
        <th>הנחה</th>
        <th>תאריך</th>
      </tr>
    </thead>
    <tbody  data-test-id="searched-customers">
      <tr class="slide-up-fade-in">
        <td>{{ product.name }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.units }}</td>
        <img src="{{ product.pic }}" />
        <td>{{ product.age }}</td>
        <td>{{ product.populare }}</td>
        <td>{{ product.salary }}</td>
        <td>{{ product.date }}</td>
      </tr>
    </tbody>
  </table>

  <a routerLink="/viewproducts" [queryParams]=" { category: 'all' }"  class="tablinks" id="b">חזרה לצפייה במוצרים</a>
