/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
    width: 100vw !important;
    overflow-x: hidden; }

/* ========== mat menu =========== */
.mat-mdc-menu-content {
    direction: rtl;
}

.mat-mdc-menu-content span {
    font-family: assistant !important;
}

.mat-mdc-menu-panel {
    background: #eff2f7;
    padding: 0.5rem !important;
}

.mat-mdc-menu-panel mat-divider {
    border-top-color: rgb(255 255 255)
}

.mat-mdc-menu-panel .button.mat-mdc-menu-item {
    border-radius: 4rem;
}

.mat-mdc-menu-panel .button.mat-mdc-menu-item span {
    margin-inline: auto;
}

.mat-mdc-menu-panel .button.mat-mdc-menu-item:hover {
    background: white !important;
}

.mat-mdc-menu-panel .button.mat-mdc-menu-item:hover span {
    color: #e45e15 !important;
}
