

<a routerLink="/viewproducts">קטגוריות</a> |
<a routerLink="/viewproducts" [queryParams]=" { category: 'all' }">toysWay</a> | 
<a routerLink="/age">גיל</a> |
<a routerLink="/giftCard">Gift Card</a>| 
<a routerLink="/sale">Sale</a>  

<img src="../../../assets/logo.png"/>

<input type="text" placeholder="...אני רוצה לחפש" (input)="searchFilter($event)"/> |
<a routerLink="/login" >👤</a>  | 
<a routerLink="/shoppingList">🛒</a> |
<a routerLink="/branches">סניפים</a> | 
<a routerLink="/about">אודות</a> 






<table>
    <tbody *ngIf="filterProducts.length > 0">
      <tr *ngFor="let fil of  filterProducts">
        <td (click)="productDetail(fil._id)">{{ fil.name }}</td>
      </tr>
    </tbody>
</table>


