<form (ngSubmit)="register($event)">
    <input type="text" placeholder="שם פרטי" name="firstName">
    <input type="text" placeholder="שם משפחה" name="lastname">
    <input type="text" placeholder="טלפון" name="phone">
    <input type="text" placeholder="מייל" name="mail">
    <input type="text" placeholder="רחוב " name="street">
    <input type="number" placeholder="מספר בניין" name="numbuild">
    <input type="text" placeholder="עיר" name="city">
    <input type="text" placeholder="שם משתמש" name="username">
    <input type="text" placeholder="סיסמא" name="password">
    <button type="submit">הרשמה</button>
  </form>
