<div *ngIf="one">
<input type="text" #id placeholder="הכנס סכום"/>
<input type="button" (click)="oneStage(id)" value="בחירה"/>
</div>

<div *ngIf="two">
<input type="button" value="למישהו אחר" (click)="toOther()"/> 
<input type="button" value="לעצמי" (click)="toMe()"/> 
<div *ngIf="other" >
    <input type="text" #name placeholder="שם מקבל המתנה"/> 
    <input type="text" #text placeholder="ברכה"/> 
    <input type="text" #mail placeholder="מייל"/> 
    <input type="text" #from placeholder="ממי המתנה? שם השולח"/> 
    <input type="button"  (click)="toPay(name.value,text.value,mail.value,from.value)" value="המשך"/>
</div>

<div *ngIf="me">
    <p>תמיד טוב לפנק את עצמך!</p>
    <input type="button"  (click)="toPay2()" value="המשך"/>
</div>
</div>
<input type="button" *ngIf="isTruePayment" (click)="send()" value="שליחה">

<input type="button" *ngIf="isTruePayment2" (click)="send2()" value="שליחה">
