
<select dir="rtl" *ngIf="showCategory" (change)="getProductsByCategory($event)">
  <option value="box">משחקי קופסא וחברה</option>
  <option value="puzzle">משחקי פאזלים</option>
  <option value="summer">קיץ</option>
  <option value="trains&Vehicles">כלי רכב , רכבות וחניונים</option>
  <option value="Bicycle&scooter">אופניים , קורקינטים וממונעים לילדים</option>
  <option value="babys">צעצועים וציוד תינוקות ופעוטות</option>
  <option value="AssemblyGames">משחקי קוביות והרכבה</option>
  <option value="remote">על שלט</option>
  <option value="dolls">בובות , בתי בובות ואביזרי משחק</option>
  <option value="YardGames">משחקי חצר</option>
  <option value="playingCards">משחקי קלפים</option>
</select>

<table dir="rtl" *ngIf="products.length > 0">
  <thead>
    <tr>
      <th>שם מוצר</th>
      <th>תיאור</th>
      <th>מחיר</th>
      <th>יחידות</th>
      <th>תמונה</th>
      <th>גיל</th>
      <th>פופולרי</th>
      <th>הנחה</th>
      <th>תאריך</th>
    </tr>
  </thead>
  <tbody  data-test-id="searched-customers">
    <tr *ngFor="let prod of products" class="slide-up-fade-in">
      <td>{{ prod.name }}</td>
      <td>{{ prod.description }}</td>
      <td>{{ prod.price }}</td>
      <td>{{ prod.units }}</td>
      <img src="{{ prod.pic }}" (click)="productDetails(prod._id)"/>
      <td>{{ prod.age }}</td>
      <td>{{ prod.populare }}</td>
      <td>{{ prod.salary }}</td>
      <td>{{ prod.date }}</td>
    </tr>
  </tbody>
</table>





  <nav aria-label="Page navigation" *ngIf="!allOrCatBool">
    <ul class="pagination">
            <a class="page-link" href="javascript:void(0);" tabindex="-1" (click)="setPageNoCat(pageNo - 1); scrollToTop()" >Previous</a>
            <a class="page-link" href="javascript:void(0);" (click)="setPageNoCat(pageNo + 1); scrollToTop()">Next</a>

    </ul>
</nav>
<div class="pagination" *ngIf="allOrCatBool">
  <button [disabled]="pageNo === 1" (click)="setPageNo(pageNo - 1); scrollToTop()">Prev</button>
  <button [disabled]="pageNo === i" *ngFor="let i of getPages()" (click)="setPageNo(i); scrollToTop()">{{ i }}</button>
  <button [disabled]="pageNo === totalPages()" (click)="setPageNo(pageNo + 1); scrollToTop()">Next</button>
</div>
