<!-- <h2>סל קניות</h2>
<p *ngIf="products.length==0">סל הקניות שלך ריק</p>

<table dir="rtl" *ngIf="products.length > 0">
    <thead>
      <tr>
        <th>שם מוצר</th>
        <th>תיאור</th>
        <th>מחיר</th>
        <th>יחידות</th>
        <th>תמונה</th>
        <th>גיל</th>
        <th>פופולרי</th>
        <th>הנחה</th>
        <th>תאריך</th>
      </tr>
    </thead>
    <tbody  data-test-id="searched-customers">
      <tr *ngFor="let prod of products" class="slide-up-fade-in">
        <td>{{ prod.name }}</td>
        <td>{{ prod.description }}</td>
        <td>{{ prod.price }}</td>
        <td>{{ prod.units }}</td>
        <img src="{{ prod.pic }}"/>
        <td>{{ prod.age }}</td>
        <td>{{ prod.populare }}</td>
        <td>{{ prod.salary }}</td>
        <td>{{ prod.date }}</td>
        <td>
          <input type="button" value="+" #plus (click)="change(plus.value,prod)"/>
          <p>{{prod.item}}</p>
          <input type="button" value="-" [disabled]="prod.item==1" #minus (click)="change(minus.value,prod)"/>
        </td>
        <td><input type="button" (click)="deleteFromShoppingList(prod,prod.item)" value="🗑️"/></td>
      </tr>
    </tbody>
  </table>
<p>{{total}}</p>
  <input type="button" *ngIf="products.length > 0" (click)="continue()" value="המשך לתשלום" /> -->
<div class="shopping-cart">
  <h1>סל הקניות שלי</h1>

  <mat-card>
    <mat-card-header>
      <h3>הפריטים שלי</h3>
    </mat-card-header>
    <mat-card-content>
      <table class="cart">
        <tbody>
          <tr *ngFor="let product of products">
            <td class="product-details">
              <img [src]="product.pic" />
              <div class="desc">
                <h3>{{product.name}}</h3>
                <label>{{product._id}}</label>
              </div>
            </td>
            <td class="count-td">
              <strong>כמות:</strong>
              <count-selection [count]="product.units"></count-selection>
            </td>
            <td class="price-td">
              <strong>מחיר: </strong>
              <label>₪{{product.price}}</label>
            </td>
            <td>
              <button mat-icon-button><mat-icon>edit</mat-icon></button>
              <button mat-icon-button><mat-icon>delete</mat-icon></button>
            </td>
          </tr>
        </tbody>
      </table>
    </mat-card-content>
  </mat-card>

  <mat-card class="summary">
    <mat-card-header>
      <h3>סיכום פרטי הזמנה</h3>
      <p class="summary-count">{{products.length}} פריטים בסל</p>
    </mat-card-header>
    <mat-card-content>
      <table>
        <tbody>
          <tr>
            <th><p>סכום ביניים</p></th>
            <td><p>₪{{total}}</p></td>
          </tr>
        </tbody>
      </table>
      <mat-divider></mat-divider>
      <table>
        <tbody>
          <tr>
            <th><p>סה"כ להזמנה</p></th>
            <td><p>₪{{total}}</p></td>
          </tr>
        </tbody>
      </table>
      <button class="for-payment-button">המשך לתשלום</button>
    </mat-card-content>
  </mat-card>

</div>